*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}