*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100%;
    color: black;
    background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h4{
    margin-top: 2rem;
}

a{
    text-decoration: none;
    display: flex;
    font-family: "Poppins";
    color: black;
}

.container{
    margin-top: 2rem;
}

.page{
    display: flex;
    flex-direction: column;
}

section{
    /* border: 1px solid red; */
    margin: 15px;
}

.content{
    background-color: rgba(0, 255, 242, 0.082);
    height: 285px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    margin: 10px;
}

hr{
    display: block;
    border: 2px solid;
    border-radius: 9px;
    color: gray;
}

footer{
    display: block;
    margin-top: 2rem;
}

.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.section-div{
    display: flex;
    justify-content:center ;  
    transform: 0.5s;
    flex-wrap: wrap;
}

.container p{
    margin: 2rem;
    font-size: 1.5rem;
}

input{
    padding: .5rem;
    text-align: center;
    border:0 ;
    height: 3rem;
    font-size: 1rem;
    margin: 1rem;
}
form{
    margin: 4rem;
}

button{
    font-size: 1.4rem;
    border-radius: 1.5rem;
    padding: .5rem 1rem;
    cursor: pointer;
    border: 0px;
}

button:hover{
    background-color:  rgba(238,174,202,1);
    color: white;
    transition: .5s;
}